# Core functionality - changes here should be rare!
/src/app.py                   @mahmoud-shabban
/src/backend/database.py      @mahmoud-shabban
/src/backend/routers/auth.py  @mahmoud-shabban

# The frontend will need refactored soon to be more object oriented.
/src/static/   @mahmoud-shabban
